P{
    color: rgb(203, 169, 248);
    background-color: rgb(241, 218, 209);
    font-family: sans-serif;
    font-style: normal;
}

h1{
    color: blueviolet;
    background-color: cyan;
}
